name: linter

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        # Action gives to setup the PHP environment to test application
        # https://github.com/shivammathur/setup-php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: sqlite
        # Install project
      - run: composer update
      - run: make install
      - run: cp .env.example .env
      - run: make lint 
      - run: make test
